.langbtn {
  padding: var(--space-sm);
  background-color: var(--color-secondary);
  box-shadow: var(--shadow-soft);
  border-radius: var(--space-xxs);
  color: var(--color-white);
  transition: background-color 0.3s;
  &:hover {
    background-color: var(--color-secondary-hover);
  }
}
.multilang {
  position: relative;
  z-index: 20;
  padding: var(--space-sm);
  background-color: var(--color-bg);
}
.langsearchinput {
  padding: var(--space-xs) var(--space-sm);
  margin-bottom: var(--space-sm);
}
.langbox {
  gap: 0.5rem;
  padding: 0.5rem 1rem;
}

@media (min-width: 1024px) {
  .multilang {
    button {
      margin-left: 0;
    }
  }
}