.contactPage {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}
.contactdetails {
  ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10;
    li {
      width: 100%;
      padding: var(--space-sm) var(--space-lg);
      box-shadow: var(--shadow-soft);
      border-radius: var(--space-sm);
    }
  }
}
@media (min-width: 1024px) {
  .contactdetails {
    ul {
      flex-direction: row;
      li {
        width: 33%;
      }
    }
  }
}