.leftalign {
  .icon {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }
  .message {
    border-radius: 10px;
    border-top-left-radius: 0;
  }
}
.rightalign {
  .icon {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }
  .message {
    border-radius: 10px;
    border-top-right-radius: 0;
  }
}
.icon {
  position: relative;
  z-index: 0;
  margin-top: var(--space-md);
  padding: var(--space-xxs) var(--space-md);
  display: inline-block;
  background-color: var(--color-muted);
  color: var(--color-bg);
}
.message {
  position: relative;
  z-index: 1;
  text-align: left;
  padding: var(--space-sm);
  background-color: var(--color-surface);
}