.contactform {
  padding: var(--space-md);
  box-shadow: var(--shadow-strong);
  border-radius: var(--space-sm);
  label {
    text-transform: capitalize;
    font-weight: 600;
    margin-bottom: var(--space-xs);
    display: block;
  }
}