footer {
  background-image: radial-gradient(circle farthest-corner at 50% 0%,
    var(--color-yellow),
    var(--color-orange) 31%,
    var(--color-blue) 73%);
  color: var(--color-white);
  section {
    max-width: var(--content-width-md);
    margin: 0 auto;
    padding-top: var(--space-2xl);
    padding-bottom: var(--space-2xl);
  }
  .nav-wrapper { padding-top: var(--space-lg); padding-bottom: var(--space-lg); }
  p { font-size: 1.4rem }
  a:not(.button) { font-size: 1.2rem; color: var(--color-white); }
  .social-icons { padding: var(--space-lg) 0; }
  .copyrights small { display: inline-block; padding: var(--space-md) 0; }
  .copyrights a { font-size: 1.2rem; }
}
